body{
    width:100%
}span {
    font-size: 15px;
}

.search-btn,
.create-post {
    background-color: #5050da;
    color: white
}

/* .forum-card {
    border-bottom: 1px solid rgb(207, 203, 203);
} */

.forum-card:hover {
    background-color: #ebeef3;
    cursor: pointer
}

/* .forum-item-box {
    text-overflow: ellipsis;
    white-space: nowrap;
    
    overflow: hidden;
} */


.forum-item-name {
    text-decoration: none;
    color: black;
}

.forum-item-name:hover {
    color: #5050da
}

span>a {
    color: rgb(108, 117, 125)
}

.forum-item-postedby-img>img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}


.forum-card {
        border: 1px solid #5050da;
        border-radius: 8px;
        border-left: 5px solid blue;
    }
    
    @media (max-width:575px) {
        
        .forum-card {
            border:none;
            border-bottom: 1px solid rgb(207, 203, 203);
        border-left: 5px solid blue;
        border-radius: 0;
    }
    
}
@media (min-width:375px){
    .title-sec{
        display:flex
    }
}
.post-card {
    border-bottom: 1px solid #ced4da;
    cursor: pointer
}

.forum-items>a {
    text-decoration: none;
    padding-right: 15px;
}


.forum-items>a:hover {
    color: #ff00bb
}

.forum-items:active {
    color: #5050da;
}



.upvote:hover,
.flag:hover,
.bookmark:hover,
.view:hover {
    color: #5050da
}

.upvote:focus{
 color:#ff00bb
}
.bookmark>i {
    padding: 4px 2px;
}
.post-title{
    color:black;
    text-decoration: none;
}

.dropdown-toggle::after {
    content: none;
}
#floatingTextarea{
    border: none;
    overflow-y:scroll;
    outline: none;
    box-shadow: none;
  
    resize: none;
}
.com-sec {
    border-left: 3px solid gray;
}
.comment-box{
    border:1px solid gray;
    border-radius: 8px;
}
.profile-card{
    border:1px solid gray;
    border-radius:8px;
    
}
.profile-box{
    width:fit-content;
    position: absolute;
    background-color: white;
    z-index:2;
    
    
}